body{
  font-family: Helvetica;
  background-color: #D3D3D3;
}
.content{
  background: rgba(255,255,255,0.8);
  position: absolute;
  padding: 2em;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -475px;
}
.profPic{
  position: relative;
  float: left;
  border-right: 5px solid black;
}
  .profPic img{
    border-radius: 50%;
    height: 350px;
    width: 350px;
    padding: 1em;
  }
.info{
  position: relative;
  float: right;
  padding: 0 3em;
}
.name{
  position: relative;
  font-size: 35px;
  text-align: center;
}
.job{
  position: relative;
  text-align: center;
  padding-top: .25em;
  font-size: 25px;
}
.summary{
  display:inline-block;
  position: relative;
  text-align: center;
  padding-top: 2em;
}
  .summary p{
    padding-top: .5em;
  }
.second{
  text-align: center;
  padding-top: 1em;
}
  .second p{
    padding-top: .1em;
  }
.goog{
  float:left;
  height: 50px;
  width: 50px;
  padding: 1em 1em 0em .50em;
}
.mmm{
  float:left;
  height: 35px;
  width: 65px;
  padding: 1em .75em 0em 0em;
}
.resume{
  position: relative;
  text-align: center;
  padding-top: 1em;
}
  .resume a{
    color: black;
    text-decoration: none;
  }
  .resume a:hover{
    color: navy;
    text-decoration: underline;
  }
.links{
  position: relative;
  text-align: center;
  padding-top: 3em;
}
#fa-icon{
  position:relative;
  color: black;
  padding-right: .1em;
}
  #fa-icon:hover{
    color: navy;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }
